.App {
  background-color: #fcf8e1;
  overflow: visible;
  display: grid;

  /* grid-template-columns: */
}

.App-header {
  /* border: 3px solid #ed254e; */
  text-align: center;
  font-size: 100%;
  color: #9b2915;
  background-color: #231651;
}

* {
  box-sizing: border-box;
}

.titleBanner {
  /* border: 5px solid #50a2a7; */
  border-radius: 5px;
  padding: 5px 20px 10px 20px;
  margin: 6 auto;
  max-width: 200px;
  min-width: 200px;
}

.navBar {
  display: inline-flex;
  color: #fcf8e1;
}

.homeButton {
  color: #fcf8e1;
  display: inline-flex;
  align-items: center;
}

.navButton {
  color: #fcf8e1;
  text-align: center;
  display: inline-flex;
  list-style: none;
  padding-right: 20px;
}

.topicBar {
  color: #fcf8e1;
  text-align: center;
  display: inline-flex;
  list-style: none;
  padding-right: 2%;
}

.topicList {
  list-style: none;
  text-align: center;
  padding: 15px;
  margin: 10 auto;
  font-size: xx-large;
  color: #50a2a7;
}

/* .topicButton {
  text-align: center;
  padding: 6px;
  margin-right: 20px;
  color: #fbf2c0;
} */

.articleTopicSelect {
  font-size: 13px;
  padding: 3px 8px;
  background: #fcf8e1;
  border: 1px solid #ccc;
  border-radius: 6px;
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.UserSignIn {
  color: #fcf8e1;
  margin: 5px 10px;
}

.UserSignIn {
  display: flex;
  align-items: center;
}

.signInDropList {
  font-size: 13px;
  padding: 3px 8px;
  background: #fcf8e1;
  border: 1px solid #ccc;
  border-radius: 6px;
  position: relative;
  margin: 10px 10px;
}

[class*="col-"] {
  width: auto;
}

@media only screen and (max-width: 715px) {
  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: xx-large;
  }

  .topicBar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .articleCard {
    width: 100%;
  }
}

.articlePage {
  list-style: none;
  text-align: center;
  padding: 15px;
  width: 800px;
  margin: 0 auto;
}

.articleHeader {
  text-align: center;
  margin: 10 auto;
  background-color: #fcf8e1;
  color: #9b2915;
}

.articleCard {
  border: 5px solid #50a2a7;
  border-radius: 15px;
  list-style: none;
  text-align: center;
  padding: 15px;
  width: 600px;
  margin: 20 auto;
  color: #50a2a7;
}

.sortByForm {
  margin: 0 auto;
  padding: 15px;
}

.sortByDropList {
  font-size: 13px;
  padding: 3px 8px;
  background: #fcf8e1;
  border: 1px solid #ccc;
  border-radius: 6px;
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.commentCard {
  border: 5px solid #50a2a7;
  border-radius: 15px;
  list-style: none;
  text-align: center;
  padding: 15px;
  width: 600px;
  margin: 20 auto;
  color: #231651;
}

.positiveButtons {
  font-size: medium;
  padding: 3px 8px;
  background: #fcf8e1;
  border: 1px solid #ccc;
  border-radius: 6px;
  position: relative;
  margin: 15 auto;
}

.voteButtons {
  color: #fcf8e1;
  background-color: #ed254e;
  padding: 1px 5px;
  margin: 0 auto;
  border: #e9b44c;
  border-radius: 15px;
  font-size: medium;
}

.changePage {
  margin: 0 auto;
}

.deleteButton {
  color: #ed254e;
  background-color: #e9b44c;
  padding: 1px 5px;
  margin: 0px 5px 12px 0px;
  border: #e9b44c;
  border-radius: 15px;
  font-size: medium;
}

.errorMessage {
  font-size: 200%;
  text-align: center;
}
