.App {
  background-color: white;
  display: grid;
  /* grid-template-columns: */
}

.navBar {
  display: inline-flex;
}

.homeButton {
  display: flex;
  align-items: center;
}

.UserSignIn {
  display: flex;
  align-items: center;
}

.errorMessage {
  font-size: 200%;
  text-align: center;
}

.topicBar {
  text-align: center;
  display: inline-flex;
  list-style: none;
  padding-right: 2%;
}

.topicButton {
  padding: 6px;
  margin-right: 20px;
}

.App-header {
  border: 3px solid rgb(22, 77, 100);
  border-radius: 15px;
  text-align: center;
  font-size: 100%;
}

.voteButtons {
  color: white;
  background-color: red;
  padding: 1px 5px;
  margin: 0px 5px 12px 0px;
  border: red;
  border-radius: 15px;
}

.articleCard {
  border: 5px solid rgb(22, 77, 100);
  border-radius: 15px;
  list-style: none;
  text-align: center;
  padding: 15px;
  width: 600px;
  margin: 0 auto;
}

.articleHeader {
  text-align: center;
  margin: 0 auto;
}
